= form_for @meal do |f|
  .row
    = f.label :name, class: "span2"
    = f.text_field :name, class: "span4"
  .row
    = f.label :slot, class: "span2"
    = f.date_field :day, class: "span4"
    = f.text_field :meal, class: "span4"
  .row
    = f.label :chef, class: "span2"
    = f.text_field :chef, class: "span4"
  .row
    = f.label :description, class: "span2"
    = f.text_area :description, class: "span4"
  .row
    = f.submit "Save Meal Slot", class: "btn btn-lg btn-default btn-black"