%h3 Meals

= render "index_header"
= render "meal_rows"
.navbar.navbar-fixed-bottom
  .row.well
    .span12
      = link_to "Add Meal", new_meal_path, class: "btn btn-success"
      = link_to " Plan for: #{first_unplanned_week.minmax.join(" => ")}", '/plan/new', class: "btn btn-success"
= render "hidden_template"